@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    background-color: white;
}

.row1{
    display: flex;
    flex-direction: row;
    color: white;
    background-color: black;
    text-align: center;
    padding-top: 10px;
}

.mnname{
    padding-right: 125px;    
}

.navbarblank{
    color: black;
}

.header{
    background-image: url("../images/background.png");
    background-size: 100% 100%;
    height: 650px;
    text-align: center;
    padding-top: 250px;
    font-size: 600%;
    color: white;
}

.row2{
    display: flex;
    flex-direction: row;
    height: 140px;
}

.filler{
    color: white;
}

.april>p{
    color: black;
    border: solid 2px gray;
    margin-top: 100px;
    background-color: #eee;
    padding: 5px 0 5px 50px;
    font-size: 135%;
}

.row3{
    display: flex;
    flex-direction: row;
    height: 150px;
    margin-top: 20px;
}

.ad img{
    width: 85%;
    height: 100%;
    padding-left: 8px;
}

.ad button{
    background-color: gold;
    color:white;
    position: relative;
    top: 40px;
    left: 110px;
    padding: 12px;
}

.row4{
    display: flex;
    flex-direction: row;
}

hr.break{
    border: 1px solid rgb(56, 55, 55);
}

.lastrow{
    display: flex;
    flex-direction: row;
    height: 350px;
    background-color: black;
    color: white;
    text-align: left;
    padding-top: 50px;
    font-size: 80%;
}

.lastrow img{
    height: 200px;
    width: 300px;
    position: relative;
    top: 15px;
    left: 80px;
}

a{
    text-decoration: none;
    color: white;
}